# Don’t commit the following files and directories created by pub and dart2js
*.dart.js
*.js_
*.js.deps
*.js.map
build/
packages/
pubspec.lock
.buildlog
.project
.pub/
.project

*.iml
*.ipr
*.iws
.idea/
.DS_Store

# Exclude pubspec when developing library packages
pubspec.lock
=======
# Don't commit the following directories created by pub.
build/
packages/

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock
